
@{
    ViewData["Title"] = "Admin";
    // Layout = "~/Views/Shared/_Layout2.cshtml"; //caminho completo
    ViewData["MessageX"] = "Página de administração";
    Layout = "_Layout2";

}

<h1>Admin</h1>

