
@{
    ViewData["Title"] = "Contato";
    //nao colocando nada ele vai usar o layout padrao que está em shared _layout.cshtml
    //se quiser usar outro layout, descomentar a linha abaixo
    //Layout = "_Layout2";
}

<h1>Contato</h1>

